
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0 none;
}
h1 {
    font-size: 2em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
}
code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: "“" "”" "‘" "’";
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #C0C0C0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: arial;
}
header {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
}
h2 {
    font-size: 18px;
    margin: 15px auto;
}
section {
    margin: 5px auto;
}
section.container {
    margin: 0 auto;
    width: 940px;
}
section.container article {
    line-height: 22px;
    margin-bottom: 10px;
}
footer {
    clear: both;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}
footer a {
    color: #0374B8;
    text-decoration: none;
}
footer a:hover {
    color: #3590C6;
}
.furby-img-container {
    background: url("http://localhost/Client-Side-Tech-Talk/css/../img/furby-sprite.png") no-repeat scroll left top transparent;
    float: left;
}
section.container {
    border: 1px solid #333333;
    height: 100%;
    width: 100%;
}
section.container article.container-body {
    color: #660000;
    height: 500px;
}
section.container div.furby-black {
    background: url("http://localhost/Client-Side-Tech-Talk/css/../img/furby-sprite.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 400px;
    width: 300px;
}
section.container div.furby-grey {
    background: url("http://localhost/Client-Side-Tech-Talk/css/../img/furby-sprite.png") no-repeat scroll 0 -450px transparent;
    float: left;
    height: 262px;
    width: 350px;
}
section.container div.furby-orange {
    background: url("http://localhost/Client-Side-Tech-Talk/css/../img/furby-sprite.png") no-repeat scroll 0 -762px transparent;
    float: left;
    height: 432px;
    width: 389px;
}
